<div id="orders">
  <div class="py-4 text-center">
    <h2>Quản lý đơn hàng</h2>
    <app-list-search (inputText)="handleSearch($event)"></app-list-search>
  </div>

  <div class="row">
    <div class="col-md-3 order-md-1 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Danh mục</span>
      </h4>
      <select class='select-option custom-select mr-sm-2' #mySelect (change)='onOptionsSelected(mySelect.value)'>
        <option class='option' value="">Tình trạng đơn hàng</option>
        <option class='option' value="Success">Đơn hàng thành công</option>
        <option class='option' value="Cancel">Đơn hàng bị huỷ</option>
        <option class='option' value="Pending">Đơn hàng đã tiếp nhận</option>
      </select>
    </div>
    <div class="col-md-9 order-md-2">
      <h4 class="mb-3">Đơn hàng của tôi</h4>
      <table class="table table-hover table-responsive-md">
        <thead>
          <tr>
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Ngày giao hàng</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of listOrders">
            <th scope="row"> <a routerLink="/order-detail/{{order.id}}">{{order.id}}</a></th>
            <td>{{order.deliveryDate}}</td>
            <td>{{order.products.join(", ")}}</td>
            <td>{{order.value | currency:'VND'}}</td>
            <td>{{order.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-warning-message *ngIf="WarningMessageOpen" [text]="WarningMessageText"
  (WarningMessageOpen)="handleWarningClose($event)"></app-warning-message>