<div id="orders">
  <div class="py-4 text-center">
    <h2>Quản lý đơn hàng</h2>
  </div>

  <mat-spinner [diameter]="70" *ngIf="isLoading"></mat-spinner>
  <img src="assets/login.png" alt="RequireLogin" width="40%" *ngIf="requireLogin">

  <div class="row" [hidden]="isLoading || requireLogin">
    <div class="col-md-2 order-md-1 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Danh mục</span>
      </h4>

      <app-list-search (inputText)="handleSearch($event)"></app-list-search>

      <mat-form-field>
        <mat-icon matPrefix>filter_list</mat-icon>
        <mat-select placeholder="Tình trạng đơn hàng" (selectionChange)="onOptionsSelected($event.value)">
          <mat-option class="option" value="">Tình trạng đơn hàng</mat-option>
          <mat-option class="option" value="Confirmed">Đơn hàng đã xác nhận</mat-option>
          <mat-option class="option" value="Shipped">Đơn hàng đã giao</mat-option>
          <mat-option class="option" value="Shipping">Đơn hàng đang giao</mat-option>
          <mat-option class="option" value="Pending">Đơn hàng đã tiếp nhận</mat-option>
          <mat-option class="option" value="Canceled">Đơn hàng bị huỷ</mat-option>
        </mat-select>
      </mat-form-field>
      <ejs-daterangepicker id="daterangepicker" placeholder="Chọn khoảng thời gian" (change)="onDateChange($event)">
      </ejs-daterangepicker>
    </div>

    <div class="col-md-10 order-md-2">
      <h4 class="mb-3">Đơn hàng của tôi</h4>
      <div class="mat-elevation-z0">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Mã đơn hàng</th>
            <td mat-cell *matCellDef="let element">
              <a routerLink="/orders/{{element.id}}">{{element.id}}</a>
            </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Ngày giao hàng</th>
            <td mat-cell *matCellDef="let element"> {{element.deliveryDate}} </td>
          </ng-container>

          <ng-container matColumnDef="products">
            <th mat-header-cell *matHeaderCellDef>Tên sản phẩm</th>
            <td mat-cell *matCellDef="let element"> {{element.productsName}} </td>
          </ng-container>

          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Tổng tiền</th>
            <td mat-cell *matCellDef="let element"> {{element.value | currency: "VND"}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>

<app-warning-message *ngIf="WarningMessageOpen" [text]="WarningMessageText"
  (WarningMessageOpen)="handleWarningClose($event)"></app-warning-message>