<div class="skipLink">
  <a [href]="skipLinkPath">Skip to Main Content</a>
</div>
<nav class="navbar navbar-expand-sm navbar-light border-bottom justify-content-between">
  <a class="navbar-brand" routerLink="/">
    SP04 Order
  </a>
  <div class="navbar-nav">
    <ng-container *ngIf="auth">
      <h6> {{user.name}} </h6>
      <a href="{{logOutUrl}}" (click)="onLogOut()">
        <button mat-stroked-button color="primary" type="button">Log Out</button></a>
    </ng-container>

    <ng-container *ngIf="!auth">
      <a href="{{signInUrl}}"><button mat-stroked-button color="primary" type="button">Sign In</button></a>
    </ng-container>
  </div>
</nav>