<div class="skipLink">
  <a [href]="skipLinkPath">Skip to Main Content</a>
</div>
<nav class="navbar navbar-expand-sm navbar-light border-bottom justify-content-between">
  <a class="navbar-brand" routerLink="/">
    SP04_order
  </a>
  <div class="navbar-nav">
    <a class="nav-item nav-link active" routerLink="/list-order">
      List Order
    </a>
    <a class="nav-item nav-link active" routerLink="/order-detail">
      Order Detail
    </a>
    <a class="nav-item nav-link active" routerLink="/master-detail">
      Master_Detail
    </a>
    <a class="nav-item nav-link active" routerLink="/list">
      List
    </a>
    <a class="nav-item nav-link active" routerLink="/grid">
      Grid
    </a>
  </div>
</nav>